<!DOCTYPE html>
<html lang="{{site.lang | default: "en-US"}}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title | default: site.github.repository_name }}</title>
  {% seo %}
  <link rel="stylesheet" href="{{"/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="wrapper">
    <header>
      <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        
      {% if site.logo %}
      <img src="{{site.logo | relative_url}}" alt="Logo" /> {% endif %}
      
      <!-- <a href="/Gaea-Quickstarts/">
      <h1>{{site.description | default: site.github.project_tagline}}</h1></a> -->
<div class="toc">
  <p><a href="/Gaea-Quickstarts/Docs/Alien-World">Alien World</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/Butte">Butte*</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/Desert-Mountain">Desert Mountain*</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/Distorted-Ridge">Distorted Ridge*</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/Double-Plates">Double Plates</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/Gradient-Slope">Gradient Slope</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/Hero-Mountain">Hero Mountain*</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/Hero-Slope">Hero Slope*</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/Hill-Slope">Hill Slope*</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/Igneous">Igneous*</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/Large-Desert-Layers">Large Desert</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/Mountain-Slope">Mountain Slope*</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/Ocean-Cliffs">Ocean Cliffs*</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/Pleasant-Hill">Pleasant Hill*</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/Ridge">Ridge*</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/RoughSlants">Rough Slants*</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/SatMaps-001">SatMaps 001*</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/Sharp-Mountain">Sharp Mountain*</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/Simple-Mountain">Simple Mountain*</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/Sloping-Sandstone">Sloping Sandstone*</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/Swirly-Lines">Swirly Lines</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/Technique-Manual-Modulation">Technique Manual Modulation</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/Technique-Origami-Repulse">Technique Origami Repulse</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/Technique-Sand-Deposits">Technique Sand Deposits</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/Technique-Simple-Biome">Technique Simple Biome</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/Technique-Slanted-Rocks_Graph">Technique Slanted Rocks_Graph</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/Technique-Threshold">Technique Threshold</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/Thousand-Mesas">Thousand Mesas</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/Uluru-Style-Rock">Uluru Style Rock</a></p>
  <p><a href="/Gaea-Quickstarts/Docs/Volcano">Volcano*</a></p>
</div>

<p>* Uses EROSION node</p>
    </header>
    <section>

      {{ content }}

    </section>
   
  </div>
  <script src="{{"/assets/js/scale.fix.js" | relative_url}}"></script>
</body>

</html>