<!DOCTYPE html>
<html lang="{{site.lang | default: "en-US"}}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title | default: site.github.repository_name }}</title>
  {% seo %}
  <link rel="stylesheet" href="{{"/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="wrapper">
    <header>
      <!-- <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
         -->
      {% if site.logo %}
      <img src="{{site.logo | relative_url}}" alt="Logo" /> {% endif %}

      <p>{{site.description | default: site.github.project_tagline}}</p>
      <ul>
        <li><a href="/Docs/Volcano.md">Alien World</a></li>
        <li><a href="/Docs/Uluru-Style-Rock.md">Butte</a></li>
        <li><a href="/Docs/Thousand-Mesas.md">Desert Mountain</a></li>
        <li><a href="/Docs/Technique-Threshold.md">Distorted Ridge</a></li>
        <li><a href="/Docs/Technique-Slanted-Rocks_Graph.md">Double Plates</a></li>
        <li><a href="/Docs/Technique-Simple-Biome.md">Gradient Slope</a></li>
        <li><a href="/Docs/Technique-Sand-Deposits.md">Hero Mountain</a></li>
        <li><a href="/Docs/Technique-Origami-Repulse.md">Hero Slope</a></li>
        <li><a href="/Docs/Technique-Manual-Modulation.md">Hill Slope</a></li>
        <li><a href="/Docs/Swirly-Lines.md">Igneous</a></li>
        <li><a href="/Docs/Sloping-Sandstone.md">Large Desert</a></li>
        <li><a href="/Docs/Simple-Mountain.md">Mountain Slope</a></li>
        <li><a href="/Docs/Sharp-Mountain.md">Ocean Cliffs</a></li>
        <li><a href="/Docs/SatMaps-001.md">Pleasant Hill</a></li>
        <li><a href="/Docs/Rough-Slants.md">Ridge</a></li>
        <li><a href="/Docs/Ridge.md">Rough Slants</a></li>
        <li><a href="/Docs/Pleasant-Hill.md">SatMaps 001</a></li>
        <li><a href="/Docs/Ocean-Cliffs.md">Sharp Mountain</a></li>
        <li><a href="/Docs/Mountain-Slope.md">Simple Mountain</a></li>
        <li><a href="/Docs/Large-Desert.md">Sloping Sandstone</a></li>
        <li><a href="/Docs/Igneous.md">Swirly Lines</a></li>
        <li><a href="/Docs/Hill-Slope.md">Technique Manual Modulation</a></li>
        <li><a href="/Docs/Hero-Slope.md">Technique Origami Repulse</a></li>
        <li><a href="/Docs/Hero-Mountain.md">Technique Sand Deposits</a></li>
        <li><a href="/Docs/Gradient-Slope.md">Technique Simple Biome</a></li>
        <li><a href="/Docs/Double-Plates.md">Technique Slanted Rocks_Graph</a></li>
        <li><a href="/Docs/Distorted-Ridge.md">Technique Threshold</a></li>
        <li><a href="/Docs/Desert-Mountain.md">Thousand Mesas</a></li>
        <li><a href="/Docs/Butte.md">Uluru Style Rock</a></li>
        <li><a href="/Docs/Alien-World.md">Volcano</a></li>
        </ul>
      {% if site.github.is_user_page %}
      <p class="view">
        <a href="{{site.github.owner_url}}">GitHub Profile</a>
      </p>
      {% endif %} {% if site.show_downloads %}
      <ul class="downloads">
        <li>
          <a href="{{site.github.zip_url}}">Download
            <strong>ZIP File</strong>
          </a>
        </li>
        <li>
          <a href="{{site.github.tar_url}}">Download
            <strong>TAR Ball</strong>
          </a>
        </li>
        <li>
          <a href="{{site.github.repository_url}}">View On
            <strong>GitHub</strong>
          </a>
        </li>
      </ul>
      {% endif %}
    </header>
    <section>

      {{ content }}

    </section>
    <footer>
      {% if site.github.is_project_page %}
      <p>This project is maintained by
        <a href="{{site.github.owner_url}}">{{ site.github.owner_name }}</a>
      </p>
      {% endif %}
      <p>
        <small>Hosted on GitHub Pages &mdash; Theme by
          <a href="https://github.com/orderedlist">orderedlist</a>
        </small>
      </p>
    </footer>
  </div>
  <script src="{{"/assets/js/scale.fix.js" | relative_url}}"></script>
</body>

</html>